---
- name: Replace Nginx default.conf
  template:
    src: default.conf.j2
    dest: /etc/nginx/conf.d/default.conf
    owner: root
    group: root
    mode: 0644
    backup: yes
  notify: Restart nginx
